<div class="banner">
  <div class="banner-content">
    <h1>Open your WatchVault</h1>
    <p><em>Your ultimate movie watchlist</em></p>
    <%= link_to 'Get Started', lists_path, class: 'btn btn-primary' %>
  </div>
</div>
