<div class="banner">
  <div class="banner-content">
    <h1>Welcome to RailsWatchList</h1>
    <p>Your ultimate movie watchlist</p>
    <%= link_to 'Get Started', lists_path, class: 'btn btn-primary' %>
  </div>
</div>
