<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Cindy0202-mae"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/practicephotography101/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/@cindyngoho9803"><i class="fab fa-youtube"></i></a>
    <a href="https://www.linkedin.com/in/cindy-ngoho/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div>
    <span class="text-muted">&copy; <%= Time.now.year %> WatchVault by: CINDY ♥️ </span>
  </div>
</div>
