.carousel-item {
  display: flex;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border: none;
  border-radius: 10px;
}

.card-title a {
  color: #333;
  text-decoration: none;
}

.card-title a:hover {
  color: #e50914; /* Netflix red on hover */
}

.text-white {
  color: white;
}
